:root {
   --tea-green: #FAFDF6;
   --celadon: #EEEFA8;
   --air-superiority-blue: #EAE151;
   --egyptian-blue: #DDD92A;
   --phthalo-blue: #2D2A32;

   --text-color: #000000;
   --main-background: var(--tea-green);

   --div-border-color: var(--phthalo-blue);
   --element-border-color: var(--phthalo-blue);
   --placeholder-color: var(--phthalo-blue);
   --input-color: var(--air-superiority-blue);
   --link-color: var(--egyptian-blue);
   --button-color: var(--air-superiority-blue);
   --button-hover-color: var(--egyptian-blue);
   --button-text-hover-color: var(--celadon);
   --div-button-hover-color: var(--phthalo-blue);
   --title-background-color: var(--egyptian-blue);
   --text-background-color: var(--celadon);
   --error-color: red;
   --scrollbar-background-color: var(--air-superiority-blue);
   --scrollbar-color: var(--egyptian-blue);
}